/* 선택자(selector) */
 
div#header-center {
    margin: 0 auto;
    width: 720px;
}

#header-search > h1 {
    width: 320px;
    display: inline-block;
}

#header-search h2{
    display: none;

}

#header-search fieldset{
    width: 320px;
    display: inline-block;
}

/*
#header-center h1 {
자손선택자, 보통 꺽쇠쓰기랑 똑같다
} */
